*
!/.github/
!/01-trojan-vase/
!/02-sisyphus-relief/
!/03-paris-balloon/
!/04-golden-gate/
!/05-tortoise-hare/
!/latest/
!/screenshots/
!/scripts/
!/three/
!/.github/workflows/
!/latest/01-trojan-vase/
!/latest/02-sisyphus-relief/
!/latest/03-paris-balloon/
!/latest/04-golden-gate/
!/latest/05-tortoise-hare/
!/latest/evidence/
!/latest/screenshots/
!/latest/shared/
!/latest/vendor/
!/three/01-trojan-vase/
!/three/02-sisyphus-relief/
!/three/03-paris-balloon/
!/three/04-golden-gate/
!/three/05-tortoise-hare/
!/three/screenshots/
!/three/shared/
!/three/vendor/
!/latest/02-sisyphus-relief/src/
!/latest/02-sisyphus-relief/src/generated/
!/.gitattributes
!/.github/workflows/pages.yml
!/.gitignore
!/.nojekyll
!/01-trojan-vase/index.html
!/02-sisyphus-relief/index.html
!/03-paris-balloon/index.html
!/04-golden-gate/index.html
!/05-tortoise-hare/index.html
!/README.md
!/canvas.html
!/index.html
!/latest/01-trojan-vase/frieze.js
!/latest/01-trojan-vase/index.html
!/latest/01-trojan-vase/scene.js
!/latest/01-trojan-vase/vessel.js
!/latest/02-sisyphus-relief/index.html
!/latest/02-sisyphus-relief/src/anatomy.js
!/latest/02-sisyphus-relief/src/dust.js
!/latest/02-sisyphus-relief/src/figure.js
!/latest/02-sisyphus-relief/src/generated/sculpture.bin
!/latest/02-sisyphus-relief/src/generated/sculpture.json
!/latest/02-sisyphus-relief/src/geometry.js
!/latest/02-sisyphus-relief/src/main.js
!/latest/02-sisyphus-relief/src/materials.js
!/latest/02-sisyphus-relief/src/math.js
!/latest/02-sisyphus-relief/src/motion.js
!/latest/02-sisyphus-relief/src/relief.js
!/latest/03-paris-balloon/balloon.js
!/latest/03-paris-balloon/city.js
!/latest/03-paris-balloon/flight.js
!/latest/03-paris-balloon/geometry.js
!/latest/03-paris-balloon/index.html
!/latest/03-paris-balloon/scene.js
!/latest/03-paris-balloon/world.js
!/latest/04-golden-gate/geometry.js
!/latest/04-golden-gate/index.html
!/latest/04-golden-gate/materials.js
!/latest/04-golden-gate/motion.js
!/latest/04-golden-gate/scene.js
!/latest/05-tortoise-hare/anatomy.js
!/latest/05-tortoise-hare/index.html
!/latest/05-tortoise-hare/motion.js
!/latest/05-tortoise-hare/scene.js
!/latest/05-tortoise-hare/woodland.js
!/latest/development.html
!/latest/evidence/balloon-geometry.json
!/latest/evidence/bridge-geometry.json
!/latest/evidence/browser-validation.json
!/latest/evidence/race-motion.json
!/latest/evidence/sisyphus-clearance.json
!/latest/evidence/sisyphus-motion.json
!/latest/evidence/source-hashes.json
!/latest/index.html
!/latest/screenshots/01-trojan-vase-before.png
!/latest/screenshots/01-trojan-vase.png
!/latest/screenshots/02-sisyphus-relief-before.png
!/latest/screenshots/02-sisyphus-relief.png
!/latest/screenshots/03-paris-balloon-before.png
!/latest/screenshots/03-paris-balloon.png
!/latest/screenshots/04-golden-gate-before.png
!/latest/screenshots/04-golden-gate.png
!/latest/screenshots/05-tortoise-hare-before.png
!/latest/screenshots/05-tortoise-hare.png
!/latest/screenshots/bridge-wide.png
!/latest/screenshots/sisyphus-clear-passage.png
!/latest/shared/runtime.js
!/latest/vendor/LICENSE
!/latest/vendor/package.json
!/latest/vendor/three.core.js
!/latest/vendor/three.tsl.js
!/latest/vendor/three.webgpu.js
!/screenshots/01-trojan-vase.png
!/screenshots/02-sisyphus-relief.png
!/screenshots/03-paris-balloon.png
!/screenshots/04-golden-gate.png
!/screenshots/05-tortoise-hare.png
!/scripts/public-manifest.json
!/scripts/verify.py
!/three.html
!/three/01-trojan-vase/index.html
!/three/01-trojan-vase/scene.js
!/three/02-sisyphus-relief/index.html
!/three/02-sisyphus-relief/scene.js
!/three/03-paris-balloon/index.html
!/three/03-paris-balloon/scene.js
!/three/04-golden-gate/index.html
!/three/04-golden-gate/scene.js
!/three/05-tortoise-hare/index.html
!/three/05-tortoise-hare/scene.js
!/three/screenshots/01-trojan-vase.png
!/three/screenshots/02-sisyphus-relief.png
!/three/screenshots/03-paris-balloon.png
!/three/screenshots/04-golden-gate.png
!/three/screenshots/05-tortoise-hare.png
!/three/shared/runtime.js
!/three/vendor/LICENSE
!/three/vendor/three.core.js
!/three/vendor/three.tsl.js
!/three/vendor/three.webgpu.js
