*
!/.github/
!/01-trojan-vase/
!/02-sisyphus-relief/
!/03-paris-balloon/
!/04-golden-gate/
!/05-tortoise-hare/
!/screenshots/
!/scripts/
!/three/
!/.github/workflows/
!/three/01-trojan-vase/
!/three/02-sisyphus-relief/
!/three/03-paris-balloon/
!/three/04-golden-gate/
!/three/05-tortoise-hare/
!/three/screenshots/
!/three/shared/
!/three/vendor/
!/.gitattributes
!/.github/workflows/pages.yml
!/.gitignore
!/.nojekyll
!/01-trojan-vase/index.html
!/02-sisyphus-relief/index.html
!/03-paris-balloon/index.html
!/04-golden-gate/index.html
!/05-tortoise-hare/index.html
!/README.md
!/canvas.html
!/index.html
!/screenshots/01-trojan-vase.png
!/screenshots/02-sisyphus-relief.png
!/screenshots/03-paris-balloon.png
!/screenshots/04-golden-gate.png
!/screenshots/05-tortoise-hare.png
!/scripts/verify.py
!/three/01-trojan-vase/index.html
!/three/01-trojan-vase/scene.js
!/three/02-sisyphus-relief/index.html
!/three/02-sisyphus-relief/scene.js
!/three/03-paris-balloon/index.html
!/three/03-paris-balloon/scene.js
!/three/04-golden-gate/index.html
!/three/04-golden-gate/scene.js
!/three/05-tortoise-hare/index.html
!/three/05-tortoise-hare/scene.js
!/three/screenshots/01-trojan-vase.png
!/three/screenshots/02-sisyphus-relief.png
!/three/screenshots/03-paris-balloon.png
!/three/screenshots/04-golden-gate.png
!/three/screenshots/05-tortoise-hare.png
!/three/shared/runtime.js
!/three/vendor/LICENSE
!/three/vendor/three.core.js
!/three/vendor/three.tsl.js
!/three/vendor/three.webgpu.js
